#TABLE_1 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 823px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 336px 412px;
    transform-origin: 336px 412px;
    caret-color: rgb(46, 42, 41);
    background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(170, 170, 170);
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    margin: 1.4px 21px 1.4px 1.4px;
    outline: rgb(46, 42, 41) none 0px;
}/*#TABLE_1*/

#TABLE_1:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TABLE_1:after*/

#TABLE_1:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TABLE_1:before*/

#TBODY_2 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 823px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 411.5px;
    transform-origin: 335.5px 411.5px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TBODY_2*/

#TBODY_2:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TBODY_2:after*/

#TBODY_2:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TBODY_2:before*/

#TR_3 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 30px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 15px;
    transform-origin: 335.5px 15px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_3*/

#TR_3:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_3:after*/

#TR_3:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_3:before*/

#TH_4 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 17.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 15px;
    transform-origin: 103.5px 15px;
    caret-color: rgb(46, 42, 41);
    background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TH_4*/

#TH_4:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TH_4:after*/

#TH_4:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TH_4:before*/

#TH_5 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 17.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 15px;
    transform-origin: 232px 15px;
    caret-color: rgb(46, 42, 41);
    background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TH_5*/

#TH_5:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TH_5:after*/

#TH_5:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TH_5:before*/

#TR_6, #TR_11, #TR_80 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 35px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 17.5px;
    transform-origin: 335.5px 17.5px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_6, #TR_11, #TR_80*/

#TR_6:after, #TR_11:after, #TR_80:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_6:after, #TR_11:after, #TR_80:after*/

#TR_6:before, #TR_11:before, #TR_80:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_6:before, #TR_11:before, #TR_80:before*/

#TD_7, #TD_12, #TD_81 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 22.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 17.5px;
    transform-origin: 103.5px 17.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_7, #TD_12, #TD_81*/

#TD_7:after, #TD_12:after, #TD_81:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_7:after, #TD_12:after, #TD_81:after*/

#TD_7:before, #TD_12:before, #TD_81:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_7:before, #TD_12:before, #TD_81:before*/

#A_8, #A_13, #A_15, #A_20, #A_22, #A_25, #A_27, #A_33, #A_39, #A_44, #A_47, #A_52, #A_55, #A_61, #A_66, #A_69, #A_74, #A_77, #A_82, #A_87 {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#A_8, #A_13, #A_15, #A_20, #A_22, #A_25, #A_27, #A_33, #A_39, #A_44, #A_47, #A_52, #A_55, #A_61, #A_66, #A_69, #A_74, #A_77, #A_82, #A_87*/

#A_8:after, #A_13:after, #A_15:after, #A_20:after, #A_22:after, #A_25:after, #A_27:after, #A_33:after, #A_39:after, #A_44:after, #A_47:after, #A_52:after, #A_55:after, #A_61:after, #A_66:after, #A_69:after, #A_74:after, #A_77:after, #A_82:after, #A_87:after {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#A_8:after, #A_13:after, #A_15:after, #A_20:after, #A_22:after, #A_25:after, #A_27:after, #A_33:after, #A_39:after, #A_44:after, #A_47:after, #A_52:after, #A_55:after, #A_61:after, #A_66:after, #A_69:after, #A_74:after, #A_77:after, #A_82:after, #A_87:after*/

#A_8:before, #A_13:before, #A_15:before, #A_20:before, #A_22:before, #A_25:before, #A_27:before, #A_33:before, #A_39:before, #A_44:before, #A_47:before, #A_52:before, #A_55:before, #A_61:before, #A_66:before, #A_69:before, #A_74:before, #A_77:before, #A_82:before, #A_87:before {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#A_8:before, #A_13:before, #A_15:before, #A_20:before, #A_22:before, #A_25:before, #A_27:before, #A_33:before, #A_39:before, #A_44:before, #A_47:before, #A_52:before, #A_55:before, #A_61:before, #A_66:before, #A_69:before, #A_74:before, #A_77:before, #A_82:before, #A_87:before*/

#IMG_9, #IMG_14, #IMG_21, #IMG_26, #IMG_34, #IMG_40, #IMG_45, #IMG_48, #IMG_53, #IMG_56, #IMG_62, #IMG_67, #IMG_70, #IMG_75, #IMG_78, #IMG_83, #IMG_88 {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    cursor: pointer;
    height: 24px;
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 24px;
    column-rule-color: rgb(29, 158, 201);
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#IMG_9, #IMG_14, #IMG_21, #IMG_26, #IMG_34, #IMG_40, #IMG_45, #IMG_48, #IMG_53, #IMG_56, #IMG_62, #IMG_67, #IMG_70, #IMG_75, #IMG_78, #IMG_83, #IMG_88*/

#IMG_9:after, #IMG_14:after, #IMG_21:after, #IMG_26:after, #IMG_34:after, #IMG_40:after, #IMG_45:after, #IMG_48:after, #IMG_53:after, #IMG_56:after, #IMG_62:after, #IMG_67:after, #IMG_70:after, #IMG_75:after, #IMG_78:after, #IMG_83:after, #IMG_88:after {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    cursor: pointer;
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#IMG_9:after, #IMG_14:after, #IMG_21:after, #IMG_26:after, #IMG_34:after, #IMG_40:after, #IMG_45:after, #IMG_48:after, #IMG_53:after, #IMG_56:after, #IMG_62:after, #IMG_67:after, #IMG_70:after, #IMG_75:after, #IMG_78:after, #IMG_83:after, #IMG_88:after*/

#IMG_9:before, #IMG_14:before, #IMG_21:before, #IMG_26:before, #IMG_34:before, #IMG_40:before, #IMG_45:before, #IMG_48:before, #IMG_53:before, #IMG_56:before, #IMG_62:before, #IMG_67:before, #IMG_70:before, #IMG_75:before, #IMG_78:before, #IMG_83:before, #IMG_88:before {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    cursor: pointer;
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#IMG_9:before, #IMG_14:before, #IMG_21:before, #IMG_26:before, #IMG_34:before, #IMG_40:before, #IMG_45:before, #IMG_48:before, #IMG_53:before, #IMG_56:before, #IMG_62:before, #IMG_67:before, #IMG_70:before, #IMG_75:before, #IMG_78:before, #IMG_83:before, #IMG_88:before*/

#TD_10, #TD_17, #TD_84 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 22.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 17.5px;
    transform-origin: 232px 17.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_10, #TD_17, #TD_84*/

#TD_10:after, #TD_17:after, #TD_84:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_10:after, #TD_17:after, #TD_84:after*/

#TD_10:before, #TD_17:before, #TD_84:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_10:before, #TD_17:before, #TD_84:before*/

#IMG_16, #IMG_23, #IMG_28 {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    cursor: pointer;
    height: 24px;
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 24px;
    column-rule-color: rgb(29, 158, 201);
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#IMG_16, #IMG_23, #IMG_28*/

#IMG_16:after, #IMG_23:after, #IMG_28:after {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    cursor: pointer;
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#IMG_16:after, #IMG_23:after, #IMG_28:after*/

#IMG_16:before, #IMG_23:before, #IMG_28:before {
    border-collapse: collapse;
    color: rgb(29, 158, 201);
    cursor: pointer;
    text-decoration: none solid rgb(29, 158, 201);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(29, 158, 201);
    caret-color: rgb(29, 158, 201);
    border: 0px none rgb(29, 158, 201);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(29, 158, 201) none 0px;
}/*#IMG_16:before, #IMG_23:before, #IMG_28:before*/

#TR_18, #TR_30, #TR_36 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 49px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 24.5px;
    transform-origin: 335.5px 24.5px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_18, #TR_30, #TR_36*/

#TR_18:after, #TR_30:after, #TR_36:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_18:after, #TR_30:after, #TR_36:after*/

#TR_18:before, #TR_30:before, #TR_36:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_18:before, #TR_30:before, #TR_36:before*/

#TD_19, #TD_31, #TD_37 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 37.0781px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 24.625px;
    transform-origin: 103.5px 24.625px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_19, #TD_31, #TD_37*/

#TD_19:after, #TD_31:after, #TD_37:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_19:after, #TD_31:after, #TD_37:after*/

#TD_19:before, #TD_31:before, #TD_37:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_19:before, #TD_31:before, #TD_37:before*/

#B_24, #B_32, #B_38, #B_46, #B_54, #B_60, #B_68, #B_76 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 18px / 24.75px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#B_24, #B_32, #B_38, #B_46, #B_54, #B_60, #B_68, #B_76*/

#B_24:after, #B_32:after, #B_38:after, #B_46:after, #B_54:after, #B_60:after, #B_68:after, #B_76:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 18px / 24.75px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#B_24:after, #B_32:after, #B_38:after, #B_46:after, #B_54:after, #B_60:after, #B_68:after, #B_76:after*/

#B_24:before, #B_32:before, #B_38:before, #B_46:before, #B_54:before, #B_60:before, #B_68:before, #B_76:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 18px / 24.75px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#B_24:before, #B_32:before, #B_38:before, #B_46:before, #B_54:before, #B_60:before, #B_68:before, #B_76:before*/

#TD_29, #TD_35 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 36.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 24.5px;
    transform-origin: 232px 24.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_29, #TD_35*/

#TD_29:after, #TD_35:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_29:after, #TD_35:after*/

#TD_29:before, #TD_35:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_29:before, #TD_35:before*/

#TD_41 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 36.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 24.5px;
    transform-origin: 232px 24.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_41*/

#TD_41:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_41:after*/

#TD_41:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_41:before*/

#TR_42, #TR_50, #TR_64, #TR_85 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 87px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 43.5px;
    transform-origin: 335.5px 43.5px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_42, #TR_50, #TR_64, #TR_85*/

#TR_42:after, #TR_50:after, #TR_64:after, #TR_85:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_42:after, #TR_50:after, #TR_64:after, #TR_85:after*/

#TR_42:before, #TR_50:before, #TR_64:before, #TR_85:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_42:before, #TR_50:before, #TR_64:before, #TR_85:before*/

#TD_43, #TD_51, #TD_65 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 75.0781px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 43.625px;
    transform-origin: 103.5px 43.625px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_43, #TD_51, #TD_65*/

#TD_43:after, #TD_51:after, #TD_65:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_43:after, #TD_51:after, #TD_65:after*/

#TD_43:before, #TD_51:before, #TD_65:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_43:before, #TD_51:before, #TD_65:before*/

#TD_49, #TD_57, #TD_71, #TD_89 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 74.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 43.5px;
    transform-origin: 232px 43.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_49, #TD_57, #TD_71, #TD_89*/

#TD_49:after, #TD_57:after, #TD_71:after, #TD_89:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_49:after, #TD_57:after, #TD_71:after, #TD_89:after*/

#TD_49:before, #TD_57:before, #TD_71:before, #TD_89:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_49:before, #TD_57:before, #TD_71:before, #TD_89:before*/

#TR_58 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 68px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 34px;
    transform-origin: 335.5px 34px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_58*/

#TR_58:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_58:after*/

#TR_58:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_58:before*/

#TD_59 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 56.0781px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 34.125px;
    transform-origin: 103.5px 34.125px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_59*/

#TD_59:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_59:after*/

#TD_59:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_59:before*/

#TD_63 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 55.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 34px;
    transform-origin: 232px 34px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_63*/

#TD_63:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_63:after*/

#TD_63:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_63:before*/

#TR_72 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 671px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 335.5px 62.5px;
    transform-origin: 335.5px 62.5px;
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_72*/

#TR_72:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_72:after*/

#TR_72:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TR_72:before*/

#TD_73 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 113.078px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 62.625px;
    transform-origin: 103.5px 62.625px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_73*/

#TD_73:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_73:after*/

#TD_73:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_73:before*/

#TD_79 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 112.812px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 446.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 232px 62.5px;
    transform-origin: 232px 62.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_79*/

#TD_79:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_79:after*/

#TD_79:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_79:before*/

#TD_86 {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    height: 74.8125px;
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 189.219px;
    column-rule-color: rgb(46, 42, 41);
    perspective-origin: 103.5px 43.5px;
    transform-origin: 103.5px 43.5px;
    caret-color: rgb(46, 42, 41);
    border: 1px solid rgb(170, 170, 170);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
    padding: 5.6px 8.4px;
}/*#TD_86*/

#TD_86:after {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_86:after*/

#TD_86:before {
    border-collapse: collapse;
    color: rgb(46, 42, 41);
    text-decoration: none solid rgb(46, 42, 41);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(46, 42, 41);
    caret-color: rgb(46, 42, 41);
    border: 0px none rgb(46, 42, 41);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 14px / 19.25px "Open Sans", Arial, Helvetica, sans-serif;
    outline: rgb(46, 42, 41) none 0px;
}/*#TD_86:before*/

#fox { position: fixed;
    bottom: 550;
    font-size: 260%;
    left: 50;
    width: 400px;
    text-shadow: 2px 2px red;
    font-weight: bold;}
